.reviews-container{
  border: 1px black solid;
  display: flex;
  justify-content: space-evenly;
}

.review-creator{
  display: flex;
  align-items: center;
}

textarea{
  resize: none;
}

.ar-b{
  margin-top: 5px;
}
