.reviews-container{
  /* border: 1px black solid; */
  display: flex;
}

.review-creator{
  display: flex;
  /* align-items: center;
  justify-content: center; */
  width: 435px;
  border-top: 1px black solid;
  }

textarea{
  resize: none;
}

.ar-b{
  margin-top: 5px;
}

.rc-reviews{
  margin-left: 10px;
  border-top: black 1px solid;
  width: auto;
}

.reviews-container{
  /* border-top: black 1px solid; */
}
