.profile-dropdown {
  position: absolute;
  display: flex;
  top: 85px;
  flex-direction: column;
  justify-content: space-around;
  border: 1px black solid;
  padding: 10px;
  background-color: white;
  margin-left: 9.7em;
}

.profile-dropdown-false {
  position: absolute;
  display: flex;
  top: 85px;
  flex-direction: column;
  justify-content: space-around;
  border: 1px black solid;
  padding: 10px;
  background-color: white;
  margin-left: 3.3em;
}

.profile-dropdown > li {
  list-style: none;
  margin-top: 5px;
}

.hidden {
  display: none;
}

.nav-link{
  margin-right: 10px;
}

.nav-container{
  margin: 30px 10%;
  display: flex;
  justify-content: space-between;
  border-bottom: gray 1px solid;
  padding: 30px;
  min-width: 1000px;
}

.nav-title{
  text-decoration: none;
  font-weight: bold;
  color: orange;
  font-size: xx-large;
}

.nav-buttons{
  display: flex;
  align-items: center;
}

.nav-buttons > button {
  border: none;
  background-color: white;
  text-decoration: underline;
}

.nav-buttons > button:hover{
  cursor: pointer
}

.fa-user-circle{
  font-weight: large;
}
