.fr-container{
  display: flex;
}

.fr-container > img:hover {
  cursor: pointer;
}

.fr-image{
  min-width: 500px;
}

.fr-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 30px;
  width: 390px;
  min-width: 200px;
}

.fr-recipename{
  font-size: xx-large;
}

.fr-chefname{
  font-size: large
}

.page{
  margin-left: 10%;
  margin-right: 10%;
  /* width: 1050px; */
}
