.rc-image{
  height: 200px;
}

.rc-name{
  font-weight: bold;
}

.rc-container{
  margin: 10px;
  border: 1px rgb(194, 194, 194) solid;
  height: 300px;
}

.rc-container:hover {
  cursor: pointer;
  box-shadow: 1px 2px 2px rgb(128, 128, 128);
}

.rc-update{
  margin: 0px 5px;
}

.rc-rating{
  display: flex;
  justify-content: space-between;
}

.rc-bottom{
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
